.blue-screen{
  background-color: blue;
  height: 100vh;
  font-size: 5em;
  text-align: center;
  color: #fff;
}
.red-screen{
  background-color: #ff0000;
  height: 100vh;
  color: #fff;
  font-size: 5em;
  text-align: center;
}
#back-btn{
  display: none;
  padding: 40px 10px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
}